@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager

<style>
    .custom-navbar {
        background-color: #E7E9EC !important;
    }

    .custom-button {
        color: black !important;
    }
</style>




<nav class="custom-navbar navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NCD</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <NavLink class="nav-link custom-button" href="/Registro">Registro</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link custom-button" href="/Turma">Turma</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link custom-button" href="/Usuario">Usuario</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link custom-button" href="/Aluno">Aluno</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link custom-button" href="/Curso">Curso</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private void NavigateTo(string url)
    {
        NavigationManager.NavigateTo(url);
    }
}
